{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <!-- Include CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'product/assets/css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
    <!-- Include JavaScript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'product/assets/js/custom_admin.js' %}"></script>
    {{ block.super }}  <!-- Include original JavaScript -->
{% endblock %}
