{% extends "product/layout.html" %}
{% load static %}

{% block 'content' %}

<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .success-message {
            background: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            text-align: center;
        }
        .success-icon {
            color: #28a745;
            font-size: 50px;
        }
        .success-message h2 {
            font-size: 24px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .btn-group a {
            margin: 10px 5px;
        }
    </style>

<body>
    <div class="success-message">
        <i class="fas fa-check-circle success-icon"></i>
        <h2>🎉 Booking Confirmed! 🎉</h2>
         <p>Thank you for choosing us! We are delighted to inform you that your booking has been successfully completed, and your payment has been received. We look forward to providing you with an exceptional experience!</p>
        <div class="btn-group">
            <a href="{% url 'home' %}" class="btn btn-primary">
                <i class="fas fa-home"></i> Return Home
            </a>
            <a href="{% url 'transport:make_booking' %}" class="btn btn-secondary">
                <i class="fas fa-shopping-bag"></i> Schedule Next Trip
            </a>
        </div>
    </div>
</body>

{% endblock %}